{% extends 'base.html' %}

{% block head %} 
    <title>About Me</title>
{% endblock head%}

{% block content %}
    <main id="about">
        <div style="display: none" id="aboutme"></div>
        <div class="wrapper">
            <div class="image-container">
                <div class="image"></div>
            </div>
            <div class="about-me">
                <h3>About Me</h3>
                <p>Full stack web developer with over one year of experience and an extensive portfolio of proven skills. Looking for a full-time opportunity to contribute to exciting team projects while continuing to refine my skills. Looking for a new web developer to add to your team? Please don’t
                    hesitate to reach out through the “Contact Me” tab. I look forward to connecting!</p>
            </div>
        </div>

        <fieldset>
            <legend>
                <div class="tehno">
                    <h1>Experience with . . .</h1>
                </div>
            </legend>

            <div class="icons">
                <img src="{{ url_for('static', filename='images/icons/python.svg')}}" />
                <img src="{{ url_for('static', filename='images/icons/django.svg')}}" />
                <img src="{{ url_for('static', filename='images/icons/js.svg')}}" />
                <img src="{{ url_for('static', filename='images/icons/reactjs.svg')}}" />
                <img src="{{ url_for('static', filename='images/icons/postgresql.svg')}}" />
                <img src="{{ url_for('static', filename='images/icons/heroku.svg')}}" />
                <img src="{{ url_for('static', filename='images/icons/css3.svg')}}" />
                <img src="{{ url_for('static', filename='images/icons/html.png')}}" />
                <img src="{{ url_for('static', filename='images/icons/git.png')}}" />
            </div>

        </fieldset>

        <div class="random"></div>

    </main>
{% endblock content %}