{% extends 'base.html' %}

{% block head %} 
    <title>About Me</title>
{% endblock head%}

{% block content %}
    <main id="about">
        <div style="display: none" id="aboutme"></div>
        <div class="wrapper">
            <div class="image-container">
                <div class="image"></div>
            </div>
            <div class="about-me">
                <h3>About Me</h3>
                <p>Full stack web developer with over one year of experience and an extensive portfolio of proven skills. Looking for a full-time opportunity to contribute to exciting team projects while continuing to refine my skills. Looking for a new web developer to add to your team? Please don’t
                    hesitate to reach out through the “Contact Me” tab. I look forward to connecting!</p>
            </div>
        </div>
        <fieldset>
            <legend>
                <div class="tehno">
                    <h1>Experience with . . .</h1>
                </div>
            </legend>

            <div class="icons">
                <div class="item1 icon svg"><img src="{{ url_for('static', filename='images/icons/python.svg')}}" alt="python"></i> </div>
                <div class="item7 icon" style="color:rgb(241,219,79)"><i class="fab fa-js-square"></i></div>
                <div class="item2 icon svg"><img src="{{ url_for('static', filename='images/icons/django.svg')}}" alt="django"> </div>
                <div class="item8 icon" style="color:#61DBFB;"><i class="fab fa-react"></i> </div>
                <div class="item8 icon svg"><img src="{{ url_for('static', filename='images/icons/heroku.png')}}" alt="heroku"> </div>
                <div class="item8 icon svg"><img src="{{ url_for('static', filename='images/icons/postgresql.png')}}" alt="heroku"> </div>
                <div class="item3 icon" style="color:rgb(229,78,23);"><i class="fab fa-html5 "></i> </div>
                <div class="item4 icon" style="color:rgb(209,98,155);"><i class="fab fa-sass "></i> </div>
                <div class="item5 icon" style="color:rgb(0, 119,182)"><i class="fab fa-css3-alt "></i> </div>
                <div class="item6 icon" style="color:rgb(50,50,50)"><i class="fas fa-code-branch"></i></div>
            </div>

        </fieldset>

        <div class="random"></div>

    </main>
{% endblock content %}