<!DOCTYPE html>
<html lang=”en” prefix=”og: http://ogp.me/ns#”>

<head>
    <meta property='og:title' content='Welcome to my portfolio' />
    <meta name='image' property='og:image' content={{ url_for('static', filename='images/myweb.png')}} />
    <meta property='og:description' content='Job portfolio website' />
    <meta charset="UTF-8">
    <meta name="description" content="Job Portfolio Website">
    <meta name="keywords" content="Portfolio Programmer nedas-dev nedas.dev nedas dev">
    <meta name="author" content="Nedas Snarskis">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="https://kit.fontawesome.com/7c0fbdbb67.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta itemprop="author" content="nedas snarskis">
    <meta itemprop="publisher" content="nedas snarskis">
    <meta itemprop="datePublished" content="October 3, 2020">
    <meta itemprop="dateModified" content="April 13, 2021">
    <meta property="og:url" content="https://www.nedas.dev/">
    <meta property="og:site_name" content="nedasdev">

    {% block head %} {% endblock head %}
</head>

<body class="bg-image">
    <div class="blur"></div>
    <header id="main-menu">
        <div class="menu-btn">
            <div class="nav-hamburger">
                <div class="lines line1"></div>
                <div class="lines line2"></div>
                <div class="lines line3"></div>
            </div>

            <div class="layout-2"></div>

            <div class="menu-content">
                <ul class="nav-list">
                    <a href="/">
                        <li class="nav-item index">Home</li>
                    </a>
                    <a href="/portfolio/">
                        <li class="nav-item projects">My Projects</li>
                    </a> <a href="/aboutme/">
                        <li class="nav-item aboutme">About Me</li>
                    </a> <a href="/contact/">
                        <li class="nav-item contactme">Contact Me</li>
                    </a>
                </ul>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock content %}
    <footer id="mainfooter" class="">
        <div class="footer-wrap">
            <a href="https://www.nedas.dev">
                <img src="{{ url_for('static', filename='images/icons/nedas1.png')}}" />
            </a>
            <p>Copyright &copy; 2021</p>
            <div class="social-media">
                <a target="_blank" href="https://github.com/nedas-dev">
                    <i class="fab fa-github fa-3x"></i>
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/nedas-snarskis-b54175196/">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>