{% extends 'base.html' %}

{% block head %}
    <title>Contact Me</title>
{% endblock head %}

{% block content %}
    <main id="contact">
        <div style="display: none" id="contactme"></div>
        <div class="contact-info extra">
            <h2 id="h2Contact">Contact me</br></h2>
            {% if message_type == 'success' %}
                <p class=" message success"> {{ message }} </p>
            {% elif message_type == 'error' %}
                <p class="message error"> {{ message }} </p>
            {% endif %}
            <form action='' method="post" id="emailForm">
                <fieldset>
                    <legend> Connect with me </legend>
                    <input type="text" name="name" placeholder="Your name"> </input>
                    <br>
                    <input type="text" name="email" placeholder="Your email address"> </input>
                    <br>
                    <textarea name="message" placeholder="Message"></textarea>
                    <br>
                    <input class="button" type="submit" value="Send email">
                </fieldset>
            </form>
        </div>
        <br>
        <div class="contact-info location">
            <i class="fas fa-map-marked-alt map-icon"></i>
            <div class="text">
                <h2>Location </br> <span class="current not-bold">Los Angeles, CA</span></h2>
            </div>

            <div class="map" id="map">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe width="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=los%20angeles&t=&z=11&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}