{% extends 'base.html' %}

{% block head %}
    <title> Welcome To My Portfolio </title>
{% endblock head%}

{% block content %}
    <main id="home">
        <div style="display: none" id="index"></div>
        <div class="introduction">
            <h1 style="font-family: Avenir, sans-serif;">Nedas <span>Snarskis</span></h1>
            <h2 style="font-family: Avenir, sans-serif;">Front-end Web Developer, Programmer</h2>
        </div>
<!--
        <div class="icons">
            <a target="_blank" href="https://github.com/nedas-dev"><i class="fab fa-github fa-3x"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/nedas-snarskis-b54175196/"><i class="fab fa-linkedin fa-3x"></i></a>
             <a href="https://instagram.com/nedysnu"><i class="fab fa-instagram fa-3x"></i></a>
        </div>
-->
    </main>
{% endblock content %}