{% extends 'base.html' %}

{% block head %}
    <title>My Projects</title>
{% endblock head %}

{% block content %}
    <main id="projects">
        <div class="video-player">
            <img class="close" src="{{ url_for('static', filename='images/icons/close.svg')}}" alt="close">

            <video controls>
                <source src="{{ url_for('static', filename='images/videos/path-intro.mp4')}}">
            </video>
        </div>
        <div style="display: none" id="projects"></div>
        <div class="wrapper">
            <div class="project-item gold">
                <a target="_blank" href="https://nedas-dev.github.io/pathfinding-visualizer/"><img
                        src="{{ url_for('static', filename='images/project/path-finder2.png')}}" alt="project image"></a>
                <div class="description">
                    <h4>Pathfinding Visualizer</h4>
                    <p>JS + SCSS + HTML</p>
                    <p>Responsive</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/pathfinding-visualizer/"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://nedas-dev.github.io/pathfinding-visualizer/" class="grey"><i
                            class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date"><a id="path-video-link" href="#" style="font-size:16px; color: white;">Play Preview</a></p>
                <p class="date">Date added: <i>Aug 27, 2021</i></p>
            </div>
            <div class="project-item gold">
                <a target="_blank" href="https://nedas-dev.github.io/sorting-visualizer/"><img
                        src="{{ url_for('static', filename='images/project/image6.png')}}" alt="project image"></a>
                <div class="description">
                    <h4>Sorting Visualizer</h4>
                    <p>JS + HTML + SCSS</p>
                    <p>Responsive</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/sorting-visualizer"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://nedas-dev.github.io/sorting-visualizer/" class="grey"><i
                            class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>Apr 1, 2021</i></p>
            </div>
            <div class="project-item">
                <a target="_blank" href="https://nedas-dev.github.io/image-browser/"><img
                        src="{{ url_for('static', filename='images/project/image-finder.png')}}" alt="project image"></a>
                <div class="description">
                    <h4>Image browser</h4>
                    <p>React.js</p>
                    <p>Responsive<br>Unsplash API (fetching images)</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/image-browser"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://nedas-dev.github.io/image-browser/" class="grey"><i
                            class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>June 27, 2021</i></p>
            </div>
            <div class="project-item">
                <a target="_blank" href="https://nedas-dev.github.io/reviews-slider/"><img
                        src="{{ url_for('static', filename='images/project/reviewslider.png')}}" alt="project image"></a>
                <div class="description">
                    <h4>Reviews Slider</h4>
                    <p>React.js</p>
                    <p>Responsive<br>Used Styled Components<br></p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/reviews-slider/"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://nedas-dev.github.io/reviews-slider/" class="grey"><i
                            class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>June 20, 2021</i></p>
            </div>
            <div class="project-item">
                <a target="_blank" href="https://nedas-dev.github.io/react-frontend-project-1/"><img
                        src="{{ url_for('static', filename='images/project/image8.jpg')}}" alt="project image"></a>
                <div class="description">
                    <h4>React.js Landing Page</h4>
                    <p>React.js</p>
                    <p>Fully responsive<br>Used Styled Components<br>& React Router</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/react-frontend-project-1/"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://nedas-dev.github.io/react-frontend-project-1/" class="grey"><i
                            class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>June 19, 2021</i></p>
            </div>
            <div class="project-item">
                <a target="_blank" href="https://www.nedas.dev"><img src="{{ url_for('static', filename='images/project/image1.jpg') }}"
                        alt="project image"></a>
                <div class="description">
                    <h4>Job Portfolio Project</h4>
                    <p>Flask (Python) + JS + HTML + SCSS</p>
                    <p>Responsive</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/job-portfolio-flask"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://www.nedas.dev" class="grey"><i class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>Nov 8, 2020</i></p>
            </div>
            <div class="project-item">
                <a target="_blank" href="https://scheduletrackerapp.herokuapp.com/"><img
                        src="{{ url_for('static', filename='images/project/schedule.png')}}" alt="project image"></a>
                <div class="description">
                    <h4>Schedule Tracker</h4>
                    <p>Django + JS + HTML + SCSS</p>
                    <p>Responsive</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/job-tracking-app"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://scheduletrackerapp.herokuapp.com/" class="grey"><i
                            class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>May 28, 2021</i></p>
            </div>
            <div class="project-item">
                <a target="_blank" href="https://nedas-dev.github.io/cvs-homepage-clone/"><img
                        src="{{ url_for('static', filename='images/project/image2.jpg') }}"alt="project image"></a>
                <div class="description">
                    <h4>CVS Homepage Clone</h4>
                    <p>HTML + SCSS</p>
                    <p>Responsive</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/cvs-homepage-clone"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://nedas-dev.github.io/cvs-homepage-clone/" class="grey"><i
                            class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>Dec 5, 2020</i></p>
            </div>
            <div class="project-item">
                <a target="_blank" href="https://nedas-dev.github.io/WikiAPI-with-Fetch/"><img
                        src="{{ url_for('static', filename='images/project/image7.png') }}" alt="project image"></a>
                <div class="description">
                    <h4>WikiAPI Search Engine</h4>
                    <p>JS + HTML + SCSS</p>
                    <p>Powered with WikiAPI</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/WikiAPI-with-Fetch"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://nedas-dev.github.io/WikiAPI-with-Fetch/" class="grey"><i
                            class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>Jan 5, 2021</i></p>
            </div>
            <div class="project-item">
                <a target="_blank" href="https://nedas-dev.github.io/rsvp-app/"><img src="{{ url_for('static', filename='images/project/image3.jpg') }}" alt="project image"></a>
                <div class="description">
                    <h4>RSVP App</h4>
                    <p>HTML + SCSS + JS</p>
                    <p>Min Responsiveness</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/rsvp-app"><i class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://nedas-dev.github.io/rsvp-app/" class="grey"><i class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>Dec 25, 2020</i></p>
            </div>
            <div class="project-item">
                <a target="_blank" href="https://nedas-dev.github.io/local-storage-project/"><img
                        src="{{ url_for('static', filename='images/project/image5.png') }}"
                        alt="project image"></a>
                <div class="description">
                    <h4>Search History Saver</h4>
                    <p>HTML + SCSS + JS<p>
                    <p>Local Storage Implementation</p>
                </div>
                <div class="buttons">
                    <a target="_blank" href="https://github.com/nedas-dev/local-storage-project"><i
                            class="fab fa-github 2x"></i></a>
                    <a target="_blank" href="https://nedas-dev.github.io/local-storage-project/" class="grey"><i
                            class="far fa-eye 2x"></i></a>
                </div>
                <hr>
                <br>
                <p class="date">Date added: <i>December 31, 2020</i></p>
            </div>
        </div>

    </main>
{% endblock content %}