// For Small Devices
@include Sm-devices{
    main#home{

        div.introduction{
            margin-left: 5vh;
            margin-top: 25vh;
            h1{
                font-size: 2.4rem;
                padding-bottom: 1.8rem;
            }
            h2{
                font-size:1.3rem;
            }
        }
        div.icons{
            margin-left: 3rem;
            i{
                font-size: 2.3rem;
            }
        }
    } 
    header#main-menu{
        div.menu-btn{
            div.menu-content{
                font-size: 1.5rem;
            }
        }
    }

    main#contact{
        width:95%;
        margin:auto;
        div.contact-info{
            font-size: 0.7rem;
            i.map-icon{
                font-size: 1rem;
            }

            &.extra{
                margin-top: 100px;
                margin-bottom: 30px;
            }

            div.text{
                h2{
                    font-size: 1rem;
                }
            }

            a{
                h2{
                    font-size: 1rem;
                    span{
                        font-size: 1rem;
                    }
                }
            }

        }
    }
    
    

    main#about{
        
        div.wrapper{
            margin: 100px 20px 10px 20px;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            justify-content: center;
            grid-gap: 50px;
            grid-template-areas:
            "image"
            "content";

            div.image-container{
                div.image{
                    width: 200px;
                    height: 200px;
                }
            }

            div.about-me{
                h3{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }

        fieldset{
            legend{
                div.tehno{
                    h1{
                        font-size: 0.9rem;
                    }
                }
            }
        }

    }

}

// For Medium Devices
@include Md-devices{
    main#home{

        div.introduction{
            margin-left: 5vh;
            margin-top: 25vh;
            h1{
                font-size: 3rem;
                padding-bottom: 2rem;
            }
            h2{
                font-size:2rem;
            }
        }
                div.icons{
            margin-left: 3rem;
        }
    }
    header#main-menu{
        div.menu-btn{
            div.menu-content{
                font-size: 1.5rem;
            }
        }
    } 
    main#contact{
        div.contact-info{

            i.map-icon{
                font-size: 1.5rem;
            }
        }

    }

    main#about{
        margin: 0px 50px;
        div.wrapper{
            margin: 100px 20px 10px 20px;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            justify-content: center;
            grid-gap: 50px;
            grid-template-areas:
            "image"
            "content";

            div.about-me{
                h3{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1rem;
                }
            }
        }


        fieldset{
            legend{
                div.tehno{
                    h1{
                        font-size: 16px;
                    }
                }
            }
        }

    }
}
// For Large Devices
@include Lg-devices{

    main#home{
        div.introduction{
            margin-left: 10vh;
            margin-top: 30vh;
        }
        div.icons{
            margin-left: 6rem;
        }
    } 

    main#about{
        font-size: 0.5rem;
        div.wrapper{
            margin: 100px 50px 50px 50px;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
            justify-content: center;
            align-items: center;
            grid-gap: 20px;
            grid-template-areas:
            "image content content";

            .about-me{
                h3{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1rem;
                }
            }

        }

    }
}

// For XLarge Devices
@include Xl-devices{
    main#home{
        div.introduction{
            margin-left: 20vh;
            margin-top: 30vh;
        }
     
    }
}