// For Small Devices
@include Sm-devices {
  //   body.bg-image.projects-bg {
  //     background-image: url(../images/idk-min.jpeg);
  //     background-size: contain;
  //     background-repeat: repeat;
  //   }

  main#home {
    div.introduction {
      margin-left: 5vh;
      margin-top: 25vh;
      h1 {
        font-size: 2.4rem;
        padding-bottom: 1.8rem;
      }
      h2 {
        font-size: 1.3rem;
      }
    }
    div.icons {
      margin-left: 3rem;
      i {
        font-size: 2.3rem;
      }
    }
  }
  header#main-menu {
    div.menu-btn {
      div.menu-content {
        font-size: 1.5rem;
      }
    }
  }

  main#about {
    div.wrapper {
      div.about-me {
        width: 99%;
        p {
          font-size: 16px;
        }
      }
    }

    fieldset {
      width: 99%;
    }
  }

  main#projects {
    div.video-player {
      padding: 3rem 1rem 1rem 1rem;
    }
  }

  main#contact {
    width: 95%;
    margin: auto;
    div.contact-info {
      font-size: 0.7rem;
      i.map-icon {
        font-size: 1rem;
      }

      &.extra {
        margin-top: 100px;
        margin-bottom: 30px;
      }

      div.text {
        h2 {
          font-size: 1rem;
        }
      }

      a {
        h2 {
          font-size: 1rem;
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// For Medium Devices
@include Md-devices {
  main#home {
    div.introduction {
      margin-left: 5vh;
      margin-top: 25vh;
      h1 {
        font-size: 3rem;
        padding-bottom: 2rem;
      }
      h2 {
        font-size: 2rem;
      }
    }
    div.icons {
      margin-left: 3rem;
    }
  }
  header#main-menu {
    div.menu-btn {
      div.menu-content {
        font-size: 1.5rem;
      }
    }
  }

  main#about {
    div.wrapper {
      div.about-me {
        width: 99%;
        p {
          font-size: 16px;
        }
      }
    }

    fieldset {
      width: 99%;
    }
  }

  main#projects {
    div.video-player {
      padding: 3rem 1rem 1rem 1rem;
    }
  }

  main#contact {
    div.contact-info {
      i.map-icon {
        font-size: 1.5rem;
      }
    }
  }
}
// For Large Devices
@include Lg-devices {
  main#home {
    div.introduction {
      margin-left: 10vh;
      margin-top: 30vh;
    }
    div.icons {
      margin-left: 6rem;
    }
  }
}

// For XLarge Devices
@include Xl-devices {
  main#home {
    div.introduction {
      margin-left: 20vh;
      margin-top: 30vh;
    }
  }
}
